body {
    background-color: white;
    align-content: center;
}

.button {
  background-color: rgb(157, 245, 160); /* Green */
  border: pink;
  color: black;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 15px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #a8c9d8; /* Yellow */
  color: black;
}

input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
}

input[type=number] {
    border: 2px solid red;
    border-radius: 4px;
}

.button1 {font-size: 30px;}